body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #fff;
	color: #333333;
}

h1 {
    color: #555;
    font-size: 1.50;
    border-bottom: 1px solid #000;
}

.center
{
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

table{
    border: 1px solid #fff;
    padding-top: 10px;
    border-spacing: 0px;
}

th{
    color: #555;
    font-size: 1.25;
    border-bottom: 1px solid #000;
}

tr:nth-child(2n) {
    background-color: #eee;
}
