/* FONT STACK */
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #fff;
	color: #333333;
}

h1 {
    font-size: 1.50;
    border-bottom: 1px solid #000;
}

.center
{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    /*background-color:#b0e0e6;*/
}

table{
    border: 1px solid #fff;
}

/*
th, tr, td{
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}*/

tr:nth-child(2n) {
    background-color: #eee;
}
